body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: #f4f4f4;
}

.wrap{
    max-width: 100%;
    position: relative;
}

header {
    background:#442f8f ;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
}

.container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background: #505050;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}
.sticky{
    height: 3rem;
    width: 50%;
    margin: 0 auto;
    top: 10px;
    z-index: 1;
    right: 0;
    left: 0;
    position: sticky;
    background-color: rgb(51, 56, 87);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.6);
}

h2{
    color: #f4f4f4;
    text-align: center;

}


.product-link {
    display: block;
    margin: 10px 0;
    padding: 15px;
    background: #442f8f;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background 0.3s, opacity 0.5s, transform 0.5s;
    opacity: 0;
    /* Mulai dengan opacity 0 */
    transform: translateY(2px);
    /* Mulai dengan posisi sedikit lebih rendah */
    box-shadow: 5px 5px 1px rgb(0, 0, 0);
    /* Bayangan awal */
}

.product-link.visible {
    opacity: 1;
    animation:  2s;
    /* Menjadi terlihat */
    transform: translateY(2);
    /* Kembali ke posisi normal */
    animation: vibrate 2s infinite;
    /* Menambahkan animasi bergetar */
}

.product-link:hover {
    background: #ffffff;
    /* Bayangan saat hover */
    color: black;
}

/* Animasi bergetar */
@keyframes vibrate {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-2px, 0);
    }

    50% {
        transform: translate(2px, 0);
    }

    75% {
        transform: translate(-2px, 0);
    }

    100% {
        transform: translate(0);
    }
}

/* Footer */
footer {
    background: #007bff;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.social-icons {
    margin:0 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 5px;
    background-color: #200079;
    padding: 10px;
    text-decoration: none;
    font-size: 10px;
    flex-direction: row;
    transition: color 0.3s;
}

.social-icons a:hover {
    background-color: #a1aab3;
}
